node_modules
docs/.vitepress/cache
docs/.vitepress/dist
docs/ObsidianFiles/.*
docs/ObsidianFiles/*.md
docs/ObsidianFiles/[a-zA-z]*
docs/ObsidianFiles/[0-9]*
!docs/ObsidianFiles/0400*/
docs/ObsidianFiles/0400*/*
!docs/ObsidianFiles/0400*/算法训练/
